
<h1 mat-dialog-title>New note dialog</h1>
<div mat-dialog-content>
  <p>Here you can add new note. All fields are required!</p>

  <form [formGroup]="noteForm" class="new-note-form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-select formControlName="noteType" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let val of noteTypesEnum.values()" [value]="val" aria-placeholder="place">
          {{val}}
        </mat-option>
      </mat-select>

    </mat-form-field>

    <mat-form-field>
      <label>
        <input matInput placeholder="Note topic" formControlName="noteTopic" required>
      </label>
    </mat-form-field>

    <mat-form-field>
      <label>
        <textarea matInput placeholder="Note text" formControlName="noteText" required></textarea>
        <!--        <input matInput placeholder="Note text" formControlName="noteText" required>-->
      </label>
    </mat-form-field>
    <div mat-dialog-actions class="note-dialog-buttons">
      <button mat-button class="note-save-button" type="submit" [disabled]="!noteForm.valid">Save</button>
      <button mat-button class="note-cancel-button" (click)="closeDialog()">Cancel</button>
    </div>
  </form>
</div>

